.planet-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.planet-img {
  width: 70%;
  max-width: 400px;
}

.planet-name {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;

  color: #f8fafc;
}

.planet-item-description {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;

  color: #f1f5f9;
}
